stack-template.yaml
Resources:
  multipagepdfa2i1BE8D0A8:
    Type: AWS::S3::Bucket
    Properties:
      AccessControl: BucketOwnerFullControl
      BucketEncryption:
        ServerSideEncryptionConfiguration:
          - ServerSideEncryptionByDefault:
              SSEAlgorithm: AES256
    UpdateReplacePolicy: Delete
    DeletionPolicy: Delete
    Metadata:
      aws:cdk:path: multipagepdfa2i/multipagepdfa2i/Resource
      cdk_nag:
        rules_to_suppress:
          - reason: This is created for a POC. Customer will be deploying this will create the bucket policy
            id: W51
          - reason: This is created for a POC. Customer will be deploying this will have access logging configured
            id: W35
  multipagepdfa2iNotifications6F579C79:
    Type: Custom::S3BucketNotifications
    Properties:
      ServiceToken:
        Fn::GetAtt:
          - BucketNotificationsHandler050a0587b7544547bf325f094a3db8347ECC3691
          - Arn
      BucketName:
        Ref: multipagepdfa2i1BE8D0A8
      NotificationConfiguration:
        QueueConfigurations:
          - Events:
              - s3:ObjectCreated:*
            Filter:
              Key:
                FilterRules:
                  - Name: suffix
                    Value: pdf
                  - Name: prefix
                    Value: uploads/
            QueueArn:
              Fn::GetAtt:
                - multipagepdfa2isfsqs6271462A
                - Arn
          - Events:
              - s3:ObjectCreated:*
            Filter:
              Key:
                FilterRules:
                  - Name: suffix
                    Value: pDf
                  - Name: prefix
                    Value: uploads/
            QueueArn:
              Fn::GetAtt:
                - multipagepdfa2isfsqs6271462A
                - Arn
          - Events:
              - s3:ObjectCreated:*
            Filter:
              Key:
                FilterRules:
                  - Name: suffix
                    Value: pDF
                  - Name: prefix
                    Value: uploads/
            QueueArn:
              Fn::GetAtt:
                - multipagepdfa2isfsqs6271462A
                - Arn
          - Events:
              - s3:ObjectCreated:*
            Filter:
              Key:
                FilterRules:
                  - Name: suffix
                    Value: pdF
                  - Name: prefix
                    Value: uploads/
            QueueArn:
              Fn::GetAtt:
                - multipagepdfa2isfsqs6271462A
                - Arn
          - Events:
              - s3:ObjectCreated:*
            Filter:
              Key:
                FilterRules:
                  - Name: suffix
                    Value: PDF
                  - Name: prefix
                    Value: uploads/
            QueueArn:
              Fn::GetAtt:
                - multipagepdfa2isfsqs6271462A
                - Arn
          - Events:
              - s3:ObjectCreated:*
            Filter:
              Key:
                FilterRules:
                  - Name: suffix
                    Value: Pdf
                  - Name: prefix
                    Value: uploads/
            QueueArn:
              Fn::GetAtt:
                - multipagepdfa2isfsqs6271462A
                - Arn
          - Events:
              - s3:ObjectCreated:*
            Filter:
              Key:
                FilterRules:
                  - Name: suffix
                    Value: png
                  - Name: prefix
                    Value: uploads/
            QueueArn:
              Fn::GetAtt:
                - multipagepdfa2isfsqs6271462A
                - Arn
          - Events:
              - s3:ObjectCreated:*
            Filter:
              Key:
                FilterRules:
                  - Name: suffix
                    Value: pNg
                  - Name: prefix
                    Value: uploads/
            QueueArn:
              Fn::GetAtt:
                - multipagepdfa2isfsqs6271462A
                - Arn
          - Events:
              - s3:ObjectCreated:*
            Filter:
              Key:
                FilterRules:
                  - Name: suffix
                    Value: pNG
                  - Name: prefix
                    Value: uploads/
            QueueArn:
              Fn::GetAtt:
                - multipagepdfa2isfsqs6271462A
                - Arn
          - Events:
              - s3:ObjectCreated:*
            Filter:
              Key:
                FilterRules:
                  - Name: suffix
                    Value: pnG
                  - Name: prefix
                    Value: uploads/
            QueueArn:
              Fn::GetAtt:
                - multipagepdfa2isfsqs6271462A
                - Arn
          - Events:
              - s3:ObjectCreated:*
            Filter:
              Key:
                FilterRules:
                  - Name: suffix
                    Value: PNG
                  - Name: prefix
                    Value: uploads/
            QueueArn:
              Fn::GetAtt:
                - multipagepdfa2isfsqs6271462A
                - Arn
          - Events:
              - s3:ObjectCreated:*
            Filter:
              Key:
                FilterRules:
                  - Name: suffix
                    Value: Png
                  - Name: prefix
                    Value: uploads/
            QueueArn:
              Fn::GetAtt:
                - multipagepdfa2isfsqs6271462A
                - Arn
          - Events:
              - s3:ObjectCreated:*
            Filter:
              Key:
                FilterRules:
                  - Name: suffix
                    Value: jpg
                  - Name: prefix
                    Value: uploads/
            QueueArn:
              Fn::GetAtt:
                - multipagepdfa2isfsqs6271462A
                - Arn
          - Events:
              - s3:ObjectCreated:*
            Filter:
              Key:
                FilterRules:
                  - Name: suffix
                    Value: jPg
                  - Name: prefix
                    Value: uploads/
            QueueArn:
              Fn::GetAtt:
                - multipagepdfa2isfsqs6271462A
                - Arn
          - Events:
              - s3:ObjectCreated:*
            Filter:
              Key:
                FilterRules:
                  - Name: suffix
                    Value: jPG
                  - Name: prefix
                    Value: uploads/
            QueueArn:
              Fn::GetAtt:
                - multipagepdfa2isfsqs6271462A
                - Arn
          - Events:
              - s3:ObjectCreated:*
            Filter:
              Key:
                FilterRules:
                  - Name: suffix
                    Value: jpG
                  - Name: prefix
                    Value: uploads/
            QueueArn:
              Fn::GetAtt:
                - multipagepdfa2isfsqs6271462A
                - Arn
          - Events:
              - s3:ObjectCreated:*
            Filter:
              Key:
                FilterRules:
                  - Name: suffix
                    Value: JPG
                  - Name: prefix
                    Value: uploads/
            QueueArn:
              Fn::GetAtt:
                - multipagepdfa2isfsqs6271462A
                - Arn
          - Events:
              - s3:ObjectCreated:*
            Filter:
              Key:
                FilterRules:
                  - Name: suffix
                    Value: Jpg
                  - Name: prefix
                    Value: uploads/
            QueueArn:
              Fn::GetAtt:
                - multipagepdfa2isfsqs6271462A
                - Arn
      Managed: true
    DependsOn:
      - multipagepdfa2isfsqsPolicy23F7D822
      - multipagepdfa2isfsqs6271462A
    Metadata:
      aws:cdk:path: multipagepdfa2i/multipagepdfa2i/Notifications/Resource
  ddbtablemultia2ipdfcallback21288F79:
    Type: AWS::DynamoDB::Table
    Properties:
      AttributeDefinitions:
        - AttributeName: jobid
          AttributeType: S
        - AttributeName: callback_token
          AttributeType: S
      BillingMode: PAY_PER_REQUEST
      KeySchema:
        - AttributeName: jobid
          KeyType: HASH
        - AttributeName: callback_token
          KeyType: RANGE
      PointInTimeRecoverySpecification:
        PointInTimeRecoveryEnabled: true
    UpdateReplacePolicy: Delete
    DeletionPolicy: Delete
    Metadata:
      aws:cdk:path: multipagepdfa2i/ddbtable_multia2ipdf_callback/Resource
      cdk_nag:
        rules_to_suppress:
          - reason: This is created for a POC. Customer will be deploying this for production will enable encryption
            id: W74
  ddbtableVitalBirthData2312BA27:
    Type: AWS::DynamoDB::Table
    Properties:
      AttributeDefinitions:
        - AttributeName: Name_of_applicant
          AttributeType: S
        - AttributeName: Zip_code
          AttributeType: S
      BillingMode: PAY_PER_REQUEST
      KeySchema:
        - AttributeName: Name_of_applicant
          KeyType: HASH
        - AttributeName: Zip_code
          KeyType: RANGE
      PointInTimeRecoverySpecification:
        PointInTimeRecoveryEnabled: true
    UpdateReplacePolicy: Delete
    DeletionPolicy: Delete
    Metadata:
      aws:cdk:path: multipagepdfa2i/ddbtable_Vital_Birth_Data/Resource
      cdk_nag:
        rules_to_suppress:
          - reason: This is created for a POC. Customer will be deploying this for production will enable encryption
            id: W74
  multipagepdfa2isfsqs6271462A:
    Type: AWS::SQS::Queue
    Properties:
      QueueName: /aws/stepfunctions/multipagepdfa2i_sf_sqs
      VisibilityTimeout: 300
    UpdateReplacePolicy: Delete
    DeletionPolicy: Delete
    Metadata:
      aws:cdk:path: multipagepdfa2i/multipagepdfa2i_sf_sqs/Resource
      cdk_nag:
        rules_to_suppress:
          - reason: This is created for a POC. Customer will be deploying this for production will enable encryption
            id: W48
  multipagepdfa2isfsqsPolicy23F7D822:
    Type: AWS::SQS::QueuePolicy
    Properties:
      PolicyDocument:
        Statement:
          - Action:
              - sqs:GetQueueAttributes
              - sqs:GetQueueUrl
              - sqs:SendMessage
            Condition:
              ArnLike:
                aws:SourceArn:
                  Fn::GetAtt:
                    - multipagepdfa2i1BE8D0A8
                    - Arn
            Effect: Allow
            Principal:
              Service: s3.amazonaws.com
            Resource:
              Fn::GetAtt:
                - multipagepdfa2isfsqs6271462A
                - Arn
        Version: "2012-10-17"
      Queues:
        - Ref: multipagepdfa2isfsqs6271462A
    Metadata:
      aws:cdk:path: multipagepdfa2i/multipagepdfa2i_sf_sqs/Policy/Resource
  multipagepdfa2ibedrocksqs5A77A74C:
    Type: AWS::SQS::Queue
    Properties:
      QueueName: multipagepdfa2i_bedrock_sqs
      VisibilityTimeout: 180
    UpdateReplacePolicy: Delete
    DeletionPolicy: Delete
    Metadata:
      aws:cdk:path: multipagepdfa2i/multipagepdfa2i_bedrock_sqs/Resource
      cdk_nag:
        rules_to_suppress:
          - reason: This is created for a POC. Customer will be deploying this for production will enable encryption
            id: W48
  multipagepdfa2istepfunctionlogsB26C70A4:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: multipagepdfa2i_stepfunction_logs
      RetentionInDays: 7
    UpdateReplacePolicy: Delete
    DeletionPolicy: Delete
    Metadata:
      aws:cdk:path: multipagepdfa2i/multipagepdfa2i_stepfunction_logs/Resource
      cdk_nag:
        rules_to_suppress:
          - reason: This is created for a POC. Customer will be deploying this for production will enable encryption
            id: W84
  multipagepdfa2ilamrolekickoffFDBDF67D:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
        Version: "2012-10-17"
    Metadata:
      aws:cdk:path: multipagepdfa2i/multipagepdfa2i_lam_role_kickoff/Resource
      cdk_nag:
        rules_to_suppress:
          - reason: Suppressing errors due to default IAM policy
            id: AwsSolutions-IAM5
            applies_to:
              - Resource::arn:aws:logs:*:*:*
              - Resource::*Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_wrapup:*
              - Resource::<multipagepdfa2i1BE8D0A8.Arn>/*
              - Resource::<multipagepdfa2i1BE8D0A8.Arn>/*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_humancomplete:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_humancomplete:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_humancomplete:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_humancomplete:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_humancomplete:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_kickoff:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_kickoff:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_inserttodynamodb:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_inserttodynamodb:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_imageresize:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_imageresize:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_wrapup:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_wrapup:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_analyzepdf:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_pngextract:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_pngextract:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_kickoff:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_kickoff:*
              - Resource::<multipagepdfa2iwrapupA9D980CE.Arn>:*
              - Resource::<multipagepdfa2ipngextractDD0BB0CE.Arn>:*
              - Resource::<multipagepdfa2iinserttodynamodb7337F9FC.Arn>:*
              - Resource::<multipagepdfa2iimageresize749DCA71.Arn>:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_inserttodynamodb:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_inserttodynamodb:*
              - Resource::<multipagepdfa2i1BE8D0A8.Arn>/*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_imageresize:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_imageresize:*
              - Resource::<multipagepdfa2i1BE8D0A8.Arn>/*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_wrapup:*
              - Action::s3:*
              - Resource::arn:aws:logs:*:*:log-group:/aws/lambda/multipagepdfa2i_kickoff:*
              - Fn::Join:
                  - ""
                  - - "Resource::"
                    - Fn::GetAtt:
                        - multipagepdfa2i1BE8D0A8
                        - Arn
                    - /*
  multipagepdfa2ilamrolekickoffDefaultPolicy614AD7A4:
    Type: AWS::IAM::Policy
    Properties:
      PolicyDocument:
        Statement:
          - Action:
              - sqs:DeleteMessage
              - sqs:ReceiveMessage
            Effect: Allow
            Resource:
              - Fn::GetAtt:
                  - multipagepdfa2ibedrocksqs5A77A74C
                  - Arn
              - Fn::GetAtt:
                  - multipagepdfa2isfsqs6271462A
                  - Arn
          - Action: states:StartExecution
            Effect: Allow
            Resource:
              Fn::Join:
                - ""
                - - "arn:aws:states:"
                  - Ref: AWS::Region
                  - ":"
                  - Ref: AWS::AccountId
                  - :stateMachine:multipagepdfa2i_stepfunction
          - Action: logs:CreateLogGroup
            Effect: Allow
            Resource:
              Fn::Join:
                - ""
                - - "arn:aws:logs:"
                  - Ref: AWS::Region
                  - ":"
                  - Ref: AWS::AccountId
                  - :/aws/lambda/multipagepdfa2i_kickoff:*
          - Action:
              - logs:CreateLogStream
              - logs:PutLogEvents
            Effect: Allow
            Resource:
              Fn::Join:
                - ""
                - - "arn:aws:logs:"
                  - Ref: AWS::Region
                  - ":"
                  - Ref: AWS::AccountId
                  - :log-group:/aws/lambda/multipagepdfa2i_kickoff:*
          - Action:
              - sqs:ChangeMessageVisibility
              - sqs:DeleteMessage
              - sqs:GetQueueAttributes
              - sqs:GetQueueUrl
              - sqs:ReceiveMessage
            Effect: Allow
            Resource:
              Fn::GetAtt:
                - multipagepdfa2isfsqs6271462A
                - Arn
        Version: "2012-10-17"
      PolicyName: multipagepdfa2ilamrolekickoffDefaultPolicy614AD7A4
      Roles:
        - Ref: multipagepdfa2ilamrolekickoffFDBDF67D
    Metadata:
      aws:cdk:path: multipagepdfa2i/multipagepdfa2i_lam_role_kickoff/DefaultPolicy/Resource
  multipagepdfa2ilamrolepngextractD218F9FD:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
        Version: "2012-10-17"
    Metadata:
      aws:cdk:path: multipagepdfa2i/multipagepdfa2i_lam_role_pngextract/Resource
      cdk_nag:
        rules_to_suppress:
          - reason: Suppressing errors due to default IAM policy
            id: AwsSolutions-IAM5
            applies_to:
              - Resource::arn:aws:logs:*:*:*
              - Resource::*Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_wrapup:*
              - Resource::<multipagepdfa2i1BE8D0A8.Arn>/*
              - Resource::<multipagepdfa2i1BE8D0A8.Arn>/*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_humancomplete:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_humancomplete:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_humancomplete:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_humancomplete:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_humancomplete:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_kickoff:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_kickoff:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_inserttodynamodb:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_inserttodynamodb:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_imageresize:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_imageresize:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_wrapup:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_wrapup:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_analyzepdf:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_pngextract:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_pngextract:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_kickoff:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_kickoff:*
              - Resource::<multipagepdfa2iwrapupA9D980CE.Arn>:*
              - Resource::<multipagepdfa2ipngextractDD0BB0CE.Arn>:*
              - Resource::<multipagepdfa2iinserttodynamodb7337F9FC.Arn>:*
              - Resource::<multipagepdfa2iimageresize749DCA71.Arn>:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_inserttodynamodb:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_inserttodynamodb:*
              - Resource::<multipagepdfa2i1BE8D0A8.Arn>/*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_imageresize:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_imageresize:*
              - Resource::<multipagepdfa2i1BE8D0A8.Arn>/*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_wrapup:*
              - Action::s3:*
              - Resource::arn:aws:logs:*:*:log-group:/aws/lambda/multipagepdfa2i_kickoff:*
              - Fn::Join:
                  - ""
                  - - "Resource::"
                    - Fn::GetAtt:
                        - multipagepdfa2i1BE8D0A8
                        - Arn
                    - /*
  multipagepdfa2ilamrolepngextractDefaultPolicy7A0AD937:
    Type: AWS::IAM::Policy
    Properties:
      PolicyDocument:
        Statement:
          - Action:
              - s3:GetObject
              - s3:PutObject
            Effect: Allow
            Resource:
              - Fn::GetAtt:
                  - multipagepdfa2i1BE8D0A8
                  - Arn
              - Fn::Join:
                  - ""
                  - - Fn::GetAtt:
                        - multipagepdfa2i1BE8D0A8
                        - Arn
                    - /*
          - Action: logs:CreateLogGroup
            Effect: Allow
            Resource:
              Fn::Join:
                - ""
                - - "arn:aws:logs:"
                  - Ref: AWS::Region
                  - ":"
                  - Ref: AWS::AccountId
                  - :/aws/lambda/multipagepdfa2i_pngextract:*
          - Action:
              - logs:CreateLogStream
              - logs:PutLogEvents
            Effect: Allow
            Resource:
              Fn::Join:
                - ""
                - - "arn:aws:logs:"
                  - Ref: AWS::Region
                  - ":"
                  - Ref: AWS::AccountId
                  - :log-group:/aws/lambda/multipagepdfa2i_pngextract:*
        Version: "2012-10-17"
      PolicyName: multipagepdfa2ilamrolepngextractDefaultPolicy7A0AD937
      Roles:
        - Ref: multipagepdfa2ilamrolepngextractD218F9FD
    Metadata:
      aws:cdk:path: multipagepdfa2i/multipagepdfa2i_lam_role_pngextract/DefaultPolicy/Resource
  multipagepdfa2ilamroleanalyzepdf7AF514D8:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
        Version: "2012-10-17"
    Metadata:
      aws:cdk:path: multipagepdfa2i/multipagepdfa2i_lam_role_analyzepdf/Resource
      cdk_nag:
        rules_to_suppress:
          - reason: Suppressing errors due to default IAM policy
            id: AwsSolutions-IAM5
            applies_to:
              - Resource::arn:aws:logs:*:*:*
              - Resource::*Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_wrapup:*
              - Resource::<multipagepdfa2i1BE8D0A8.Arn>/*
              - Resource::<multipagepdfa2i1BE8D0A8.Arn>/*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_humancomplete:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_humancomplete:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_humancomplete:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_humancomplete:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_humancomplete:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_kickoff:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_kickoff:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_inserttodynamodb:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_inserttodynamodb:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_imageresize:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_imageresize:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_wrapup:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_wrapup:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_analyzepdf:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_pngextract:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_pngextract:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_kickoff:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_kickoff:*
              - Resource::<multipagepdfa2iwrapupA9D980CE.Arn>:*
              - Resource::<multipagepdfa2ipngextractDD0BB0CE.Arn>:*
              - Resource::<multipagepdfa2iinserttodynamodb7337F9FC.Arn>:*
              - Resource::<multipagepdfa2iimageresize749DCA71.Arn>:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_inserttodynamodb:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_inserttodynamodb:*
              - Resource::<multipagepdfa2i1BE8D0A8.Arn>/*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_imageresize:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_imageresize:*
              - Resource::<multipagepdfa2i1BE8D0A8.Arn>/*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_wrapup:*
              - Action::s3:*
              - Resource::arn:aws:logs:*:*:log-group:/aws/lambda/multipagepdfa2i_kickoff:*
              - Fn::Join:
                  - ""
                  - - "Resource::"
                    - Fn::GetAtt:
                        - multipagepdfa2i1BE8D0A8
                        - Arn
                    - /*
  multipagepdfa2ilamroleanalyzepdfDefaultPolicy3270794C:
    Type: AWS::IAM::Policy
    Properties:
      PolicyDocument:
        Statement:
          - Action: sagemaker:StartHumanLoop
            Effect: Allow
            Resource:
              Fn::Join:
                - ""
                - - "arn:aws:sagemaker:"
                  - Ref: AWS::Region
                  - ":"
                  - Ref: AWS::AccountId
                  - :flow-definition/*
          - Action: bedrock:InvokeModel
            Effect: Allow
            Resource:
              Fn::Join:
                - ""
                - - "arn:aws:bedrock:"
                  - Ref: AWS::Region
                  - ::foundation-model/anthropic.claude-3-haiku-20240307-v1:0
          - Action: dynamodb:PutItem
            Effect: Allow
            Resource:
              Fn::Join:
                - ""
                - - "arn:aws:dynamodb:"
                  - Ref: AWS::Region
                  - ":"
                  - Ref: AWS::AccountId
                  - :table/
                  - Ref: ddbtablemultia2ipdfcallback21288F79
          - Action:
              - sqs:ChangeMessageVisibility
              - sqs:DeleteMessage
              - sqs:GetQueueAttributes
              - sqs:GetQueueUrl
              - sqs:ReceiveMessage
            Effect: Allow
            Resource:
              - Fn::GetAtt:
                  - multipagepdfa2ibedrocksqs5A77A74C
                  - Arn
              - Fn::GetAtt:
                  - multipagepdfa2isfsqs6271462A
                  - Arn
          - Action: states:SendTaskSuccess
            Effect: Allow
            Resource:
              Fn::Join:
                - ""
                - - "arn:aws:states:"
                  - Ref: AWS::Region
                  - ":"
                  - Ref: AWS::AccountId
                  - :stateMachine:multipagepdfa2i_stepfunction
          - Action: ssm:GetParameter
            Effect: Allow
            Resource:
              - Fn::Join:
                  - ""
                  - - "arn:aws:ssm:"
                    - Ref: AWS::Region
                    - ":"
                    - Ref: AWS::AccountId
                    - :parameter/business_rules/required_keys_values
              - Fn::Join:
                  - ""
                  - - "arn:aws:ssm:"
                    - Ref: AWS::Region
                    - ":"
                    - Ref: AWS::AccountId
                    - :parameter/business_rules/validationrequied
          - Action:
              - logs:CreateLogGroup
              - logs:CreateLogStream
              - logs:PutLogEvents
            Effect: Allow
            Resource:
              Fn::Join:
                - ""
                - - "arn:aws:logs:"
                  - Ref: AWS::Region
                  - ":"
                  - Ref: AWS::AccountId
                  - :log-group:/aws/lambda/multipagepdfa2i_analyzepdf:*
          - Action:
              - s3:GetObject
              - s3:PutObject
            Effect: Allow
            Resource:
              - Fn::GetAtt:
                  - multipagepdfa2i1BE8D0A8
                  - Arn
              - Fn::Join:
                  - ""
                  - - Fn::GetAtt:
                        - multipagepdfa2i1BE8D0A8
                        - Arn
                    - /*
        Version: "2012-10-17"
      PolicyName: multipagepdfa2ilamroleanalyzepdfDefaultPolicy3270794C
      Roles:
        - Ref: multipagepdfa2ilamroleanalyzepdf7AF514D8
    Metadata:
      aws:cdk:path: multipagepdfa2i/multipagepdfa2i_lam_role_analyzepdf/DefaultPolicy/Resource
  multipagepdfa2ilamrolehumancomplete0FA866AF:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
        Version: "2012-10-17"
    Metadata:
      aws:cdk:path: multipagepdfa2i/multipagepdfa2i_lam_role_humancomplete/Resource
      cdk_nag:
        rules_to_suppress:
          - reason: Suppressing errors due to default IAM policy
            id: AwsSolutions-IAM5
            applies_to:
              - Resource::arn:aws:logs:*:*:*
              - Resource::*Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_wrapup:*
              - Resource::<multipagepdfa2i1BE8D0A8.Arn>/*
              - Resource::<multipagepdfa2i1BE8D0A8.Arn>/*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_humancomplete:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_humancomplete:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_humancomplete:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_humancomplete:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_humancomplete:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_kickoff:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_kickoff:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_inserttodynamodb:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_inserttodynamodb:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_imageresize:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_imageresize:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_wrapup:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_wrapup:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_analyzepdf:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_pngextract:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_pngextract:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_kickoff:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_kickoff:*
              - Resource::<multipagepdfa2iwrapupA9D980CE.Arn>:*
              - Resource::<multipagepdfa2ipngextractDD0BB0CE.Arn>:*
              - Resource::<multipagepdfa2iinserttodynamodb7337F9FC.Arn>:*
              - Resource::<multipagepdfa2iimageresize749DCA71.Arn>:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_inserttodynamodb:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_inserttodynamodb:*
              - Resource::<multipagepdfa2i1BE8D0A8.Arn>/*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_imageresize:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_imageresize:*
              - Resource::<multipagepdfa2i1BE8D0A8.Arn>/*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_wrapup:*
              - Action::s3:*
              - Resource::arn:aws:logs:*:*:log-group:/aws/lambda/multipagepdfa2i_kickoff:*
              - Fn::Join:
                  - ""
                  - - "Resource::"
                    - Fn::GetAtt:
                        - multipagepdfa2i1BE8D0A8
                        - Arn
                    - /*
  multipagepdfa2ilamrolehumancompleteDefaultPolicy0C30B1CB:
    Type: AWS::IAM::Policy
    Properties:
      PolicyDocument:
        Statement:
          - Action: dynamodb:Query
            Effect: Allow
            Resource:
              Fn::Join:
                - ""
                - - "arn:aws:dynamodb:"
                  - Ref: AWS::Region
                  - ":"
                  - Ref: AWS::AccountId
                  - :table/
                  - Ref: ddbtablemultia2ipdfcallback21288F79
          - Action: states:SendTaskSuccess
            Effect: Allow
            Resource:
              Fn::Join:
                - ""
                - - "arn:aws:states:"
                  - Ref: AWS::Region
                  - ":"
                  - Ref: AWS::AccountId
                  - :stateMachine:multipagepdfa2i_stepfunction
          - Action: logs:CreateLogGroup
            Effect: Allow
            Resource:
              Fn::Join:
                - ""
                - - "arn:aws:logs:"
                  - Ref: AWS::Region
                  - ":"
                  - Ref: AWS::AccountId
                  - :/aws/lambda/multipagepdfa2i_humancomplete:*
          - Action:
              - logs:CreateLogStream
              - logs:PutLogEvents
            Effect: Allow
            Resource:
              Fn::Join:
                - ""
                - - "arn:aws:logs:"
                  - Ref: AWS::Region
                  - ":"
                  - Ref: AWS::AccountId
                  - :log-group:/aws/lambda/multipagepdfa2i_humancomplete:*
          - Action:
              - s3:GetObject
              - s3:PutObject
            Effect: Allow
            Resource:
              - Fn::GetAtt:
                  - multipagepdfa2i1BE8D0A8
                  - Arn
              - Fn::Join:
                  - ""
                  - - Fn::GetAtt:
                        - multipagepdfa2i1BE8D0A8
                        - Arn
                    - /*
        Version: "2012-10-17"
      PolicyName: multipagepdfa2ilamrolehumancompleteDefaultPolicy0C30B1CB
      Roles:
        - Ref: multipagepdfa2ilamrolehumancomplete0FA866AF
    Metadata:
      aws:cdk:path: multipagepdfa2i/multipagepdfa2i_lam_role_humancomplete/DefaultPolicy/Resource
  multipagepdfa2ilamrolewrapupC95926A1:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
        Version: "2012-10-17"
    Metadata:
      aws:cdk:path: multipagepdfa2i/multipagepdfa2i_lam_role_wrapup/Resource
      cdk_nag:
        rules_to_suppress:
          - reason: Suppressing errors due to default IAM policy
            id: AwsSolutions-IAM5
            applies_to:
              - Resource::arn:aws:logs:*:*:*
              - Resource::*Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_wrapup:*
              - Resource::<multipagepdfa2i1BE8D0A8.Arn>/*
              - Resource::<multipagepdfa2i1BE8D0A8.Arn>/*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_humancomplete:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_humancomplete:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_humancomplete:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_humancomplete:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_humancomplete:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_kickoff:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_kickoff:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_inserttodynamodb:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_inserttodynamodb:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_imageresize:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_imageresize:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_wrapup:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_wrapup:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_analyzepdf:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_pngextract:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_pngextract:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_kickoff:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_kickoff:*
              - Resource::<multipagepdfa2iwrapupA9D980CE.Arn>:*
              - Resource::<multipagepdfa2ipngextractDD0BB0CE.Arn>:*
              - Resource::<multipagepdfa2iinserttodynamodb7337F9FC.Arn>:*
              - Resource::<multipagepdfa2iimageresize749DCA71.Arn>:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_inserttodynamodb:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_inserttodynamodb:*
              - Resource::<multipagepdfa2i1BE8D0A8.Arn>/*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_imageresize:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_imageresize:*
              - Resource::<multipagepdfa2i1BE8D0A8.Arn>/*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_wrapup:*
              - Action::s3:*
              - Resource::arn:aws:logs:*:*:log-group:/aws/lambda/multipagepdfa2i_kickoff:*
              - Fn::Join:
                  - ""
                  - - "Resource::"
                    - Fn::GetAtt:
                        - multipagepdfa2i1BE8D0A8
                        - Arn
                    - /*
  multipagepdfa2ilamrolewrapupDefaultPolicy209224FB:
    Type: AWS::IAM::Policy
    Properties:
      PolicyDocument:
        Statement:
          - Action: ssm:GetParameter
            Effect: Allow
            Resource:
              - Fn::Join:
                  - ""
                  - - "arn:aws:ssm:"
                    - Ref: AWS::Region
                    - ":"
                    - Ref: AWS::AccountId
                    - :parameter/business_rules/required_keys_values
              - Fn::Join:
                  - ""
                  - - "arn:aws:ssm:"
                    - Ref: AWS::Region
                    - ":"
                    - Ref: AWS::AccountId
                    - :parameter/business_rules/validationrequied
          - Action:
              - s3:DeleteObject
              - s3:GetObject
              - s3:ListBucket
              - s3:Object
              - s3:PutObject
            Effect: Allow
            Resource:
              - Fn::GetAtt:
                  - multipagepdfa2i1BE8D0A8
                  - Arn
              - Fn::Join:
                  - ""
                  - - Fn::GetAtt:
                        - multipagepdfa2i1BE8D0A8
                        - Arn
                    - /*
          - Action: logs:CreateLogGroup
            Effect: Allow
            Resource:
              Fn::Join:
                - ""
                - - "arn:aws:logs:"
                  - Ref: AWS::Region
                  - ":"
                  - Ref: AWS::AccountId
                  - :/aws/lambda/multipagepdfa2i_wrapup:*
          - Action:
              - logs:CreateLogStream
              - logs:PutLogEvents
            Effect: Allow
            Resource:
              Fn::Join:
                - ""
                - - "arn:aws:logs:"
                  - Ref: AWS::Region
                  - ":"
                  - Ref: AWS::AccountId
                  - :log-group:/aws/lambda/multipagepdfa2i_wrapup:*
        Version: "2012-10-17"
      PolicyName: multipagepdfa2ilamrolewrapupDefaultPolicy209224FB
      Roles:
        - Ref: multipagepdfa2ilamrolewrapupC95926A1
    Metadata:
      aws:cdk:path: multipagepdfa2i/multipagepdfa2i_lam_role_wrapup/DefaultPolicy/Resource
  multipagepdfa2ilamroleimageresize806718A4:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
        Version: "2012-10-17"
    Metadata:
      aws:cdk:path: multipagepdfa2i/multipagepdfa2i_lam_role_imageresize/Resource
      cdk_nag:
        rules_to_suppress:
          - reason: Suppressing errors due to default IAM policy
            id: AwsSolutions-IAM5
            applies_to:
              - Resource::arn:aws:logs:*:*:*
              - Resource::*Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_wrapup:*
              - Resource::<multipagepdfa2i1BE8D0A8.Arn>/*
              - Resource::<multipagepdfa2i1BE8D0A8.Arn>/*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_humancomplete:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_humancomplete:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_humancomplete:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_humancomplete:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_humancomplete:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_kickoff:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_kickoff:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_inserttodynamodb:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_inserttodynamodb:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_imageresize:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_imageresize:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_wrapup:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_wrapup:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_analyzepdf:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_pngextract:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_pngextract:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_kickoff:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_kickoff:*
              - Resource::<multipagepdfa2iwrapupA9D980CE.Arn>:*
              - Resource::<multipagepdfa2ipngextractDD0BB0CE.Arn>:*
              - Resource::<multipagepdfa2iinserttodynamodb7337F9FC.Arn>:*
              - Resource::<multipagepdfa2iimageresize749DCA71.Arn>:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_inserttodynamodb:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_inserttodynamodb:*
              - Resource::<multipagepdfa2i1BE8D0A8.Arn>/*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_imageresize:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_imageresize:*
              - Resource::<multipagepdfa2i1BE8D0A8.Arn>/*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_wrapup:*
              - Action::s3:*
              - Resource::arn:aws:logs:*:*:log-group:/aws/lambda/multipagepdfa2i_kickoff:*
              - Fn::Join:
                  - ""
                  - - "Resource::"
                    - Fn::GetAtt:
                        - multipagepdfa2i1BE8D0A8
                        - Arn
                    - /*
  multipagepdfa2ilamroleimageresizeDefaultPolicy9EF09481:
    Type: AWS::IAM::Policy
    Properties:
      PolicyDocument:
        Statement:
          - Action:
              - s3:GetObject
              - s3:PutObject
            Effect: Allow
            Resource:
              - Fn::GetAtt:
                  - multipagepdfa2i1BE8D0A8
                  - Arn
              - Fn::Join:
                  - ""
                  - - Fn::GetAtt:
                        - multipagepdfa2i1BE8D0A8
                        - Arn
                    - /*
          - Action: logs:CreateLogGroup
            Effect: Allow
            Resource:
              Fn::Join:
                - ""
                - - "arn:aws:logs:"
                  - Ref: AWS::Region
                  - ":"
                  - Ref: AWS::AccountId
                  - :/aws/lambda/multipagepdfa2i_imageresize:*
          - Action:
              - logs:CreateLogStream
              - logs:PutLogEvents
            Effect: Allow
            Resource:
              Fn::Join:
                - ""
                - - "arn:aws:logs:"
                  - Ref: AWS::Region
                  - ":"
                  - Ref: AWS::AccountId
                  - :log-group:/aws/lambda/multipagepdfa2i_imageresize:*
        Version: "2012-10-17"
      PolicyName: multipagepdfa2ilamroleimageresizeDefaultPolicy9EF09481
      Roles:
        - Ref: multipagepdfa2ilamroleimageresize806718A4
    Metadata:
      aws:cdk:path: multipagepdfa2i/multipagepdfa2i_lam_role_imageresize/DefaultPolicy/Resource
  multipagepdfa2ilamroleinserttodynamodb71EFBCBB:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
        Version: "2012-10-17"
    Metadata:
      aws:cdk:path: multipagepdfa2i/multipagepdfa2i_lam_role_inserttodynamodb/Resource
      cdk_nag:
        rules_to_suppress:
          - reason: Suppressing errors due to default IAM policy
            id: AwsSolutions-IAM5
            applies_to:
              - Resource::arn:aws:logs:*:*:*
              - Resource::*Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_wrapup:*
              - Resource::<multipagepdfa2i1BE8D0A8.Arn>/*
              - Resource::<multipagepdfa2i1BE8D0A8.Arn>/*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_humancomplete:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_humancomplete:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_humancomplete:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_humancomplete:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_humancomplete:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_kickoff:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_kickoff:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_inserttodynamodb:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_inserttodynamodb:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_imageresize:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_imageresize:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_wrapup:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_wrapup:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_analyzepdf:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_pngextract:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_pngextract:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_kickoff:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_kickoff:*
              - Resource::<multipagepdfa2iwrapupA9D980CE.Arn>:*
              - Resource::<multipagepdfa2ipngextractDD0BB0CE.Arn>:*
              - Resource::<multipagepdfa2iinserttodynamodb7337F9FC.Arn>:*
              - Resource::<multipagepdfa2iimageresize749DCA71.Arn>:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_inserttodynamodb:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_inserttodynamodb:*
              - Resource::<multipagepdfa2i1BE8D0A8.Arn>/*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_imageresize:*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:/aws/lambda/multipagepdfa2i_imageresize:*
              - Resource::<multipagepdfa2i1BE8D0A8.Arn>/*
              - Resource::arn:aws:logs:<AWS::Region>:<AWS::AccountId>:log-group:/aws/lambda/multipagepdfa2i_wrapup:*
              - Action::s3:*
              - Resource::arn:aws:logs:*:*:log-group:/aws/lambda/multipagepdfa2i_kickoff:*
              - Fn::Join:
                  - ""
                  - - "Resource::"
                    - Fn::GetAtt:
                        - multipagepdfa2i1BE8D0A8
                        - Arn
                    - /*
  multipagepdfa2ilamroleinserttodynamodbDefaultPolicyFECF4A7C:
    Type: AWS::IAM::Policy
    Properties:
      PolicyDocument:
        Statement:
          - Action: dynamodb:PutItem
            Effect: Allow
            Resource:
              Fn::Join:
                - ""
                - - "arn:aws:dynamodb:"
                  - Ref: AWS::Region
                  - ":"
                  - Ref: AWS::AccountId
                  - :table/
                  - Ref: ddbtableVitalBirthData2312BA27
          - Action: s3:GetObject
            Effect: Allow
            Resource:
              - Fn::GetAtt:
                  - multipagepdfa2i1BE8D0A8
                  - Arn
              - Fn::Join:
                  - ""
                  - - Fn::GetAtt:
                        - multipagepdfa2i1BE8D0A8
                        - Arn
                    - /*
          - Action: logs:CreateLogGroup
            Effect: Allow
            Resource:
              Fn::Join:
                - ""
                - - "arn:aws:logs:"
                  - Ref: AWS::Region
                  - ":"
                  - Ref: AWS::AccountId
                  - :/aws/lambda/multipagepdfa2i_inserttodynamodb:*
          - Action:
              - logs:CreateLogStream
              - logs:PutLogEvents
            Effect: Allow
            Resource:
              Fn::Join:
                - ""
                - - "arn:aws:logs:"
                  - Ref: AWS::Region
                  - ":"
                  - Ref: AWS::AccountId
                  - :log-group:/aws/lambda/multipagepdfa2i_inserttodynamodb:*
        Version: "2012-10-17"
      PolicyName: multipagepdfa2ilamroleinserttodynamodbDefaultPolicyFECF4A7C
      Roles:
        - Ref: multipagepdfa2ilamroleinserttodynamodb71EFBCBB
    Metadata:
      aws:cdk:path: multipagepdfa2i/multipagepdfa2i_lam_role_inserttodynamodb/DefaultPolicy/Resource
  sharplayer867D804D:
    Type: AWS::Lambda::LayerVersion
    Properties:
      CompatibleRuntimes:
        - nodejs20.x
      Content:
        S3Bucket:
          Fn::Sub: cdk-hnb659fds-assets-${AWS::AccountId}-${AWS::Region}
        S3Key: c6e7b2d18f504af5902fba92243806f419658ab0f7498320643f9338e6c7d667.zip
      Description: sharplayer
    Metadata:
      aws:cdk:path: multipagepdfa2i/sharplayer/Resource
      aws:asset:path: asset.c6e7b2d18f504af5902fba92243806f419658ab0f7498320643f9338e6c7d667.zip
      aws:asset:is-bundled: false
      aws:asset:property: Content
  multipagepdfa2ipngextractDD0BB0CE:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        S3Bucket:
          Fn::Sub: cdk-hnb659fds-assets-${AWS::AccountId}-${AWS::Region}
        S3Key: 11f99443012e3074b3f79b0db6cf59b2aaa17e90ae1d10d6b80a0eca2cc14b32.jar
      FunctionName: multipagepdfa2i_pngextract
      Handler: Lambda::handleRequest
      MemorySize: 3000
      Role:
        Fn::GetAtt:
          - multipagepdfa2ilamrolepngextractD218F9FD
          - Arn
      Runtime: java21
      Timeout: 900
    DependsOn:
      - multipagepdfa2ilamrolepngextractDefaultPolicy7A0AD937
      - multipagepdfa2ilamrolepngextractD218F9FD
    Metadata:
      aws:cdk:path: multipagepdfa2i/multipagepdfa2i_pngextract/Resource
      aws:asset:path: asset.11f99443012e3074b3f79b0db6cf59b2aaa17e90ae1d10d6b80a0eca2cc14b32.jar
      aws:asset:is-bundled: false
      aws:asset:property: Code
      cdk_nag:
        rules_to_suppress:
          - reason: This is created for a POC. Customer will be deploying this for production will be deploying the lambda functions in the  VPC
            id: W89
          - reason: Lambda functions has permission to write CloudWatch Logs
            id: W58
          - reason: This is created for a POC. Customer will be deploying this for production will  define ReservedConcurrentExecutions to reserve simultaneous execution
            id: W92
  multipagepdfa2iimageresize749DCA71:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        S3Bucket:
          Fn::Sub: cdk-hnb659fds-assets-${AWS::AccountId}-${AWS::Region}
        S3Key: 289b64c5633c6da9f40f1c40e0c1f5fb8ad07c93852ac8c0f6863908accac380.zip
      FunctionName: multipagepdfa2i_imageresize
      Handler: index.handler
      Layers:
        - Ref: sharplayer867D804D
      MemorySize: 3000
      Role:
        Fn::GetAtt:
          - multipagepdfa2ilamroleimageresize806718A4
          - Arn
      Runtime: nodejs20.x
      Timeout: 900
    DependsOn:
      - multipagepdfa2ilamroleimageresizeDefaultPolicy9EF09481
      - multipagepdfa2ilamroleimageresize806718A4
    Metadata:
      aws:cdk:path: multipagepdfa2i/multipagepdfa2i_imageresize/Resource
      aws:asset:path: asset.289b64c5633c6da9f40f1c40e0c1f5fb8ad07c93852ac8c0f6863908accac380
      aws:asset:is-bundled: false
      aws:asset:property: Code
      cdk_nag:
        rules_to_suppress:
          - reason: This is created for a POC. Customer will be deploying this for production will be deploying the lambda functions in the  VPC
            id: W89
          - reason: Lambda functions has permission to write CloudWatch Logs
            id: W58
          - reason: This is created for a POC. Customer will be deploying this for production will  define ReservedConcurrentExecutions to reserve simultaneous execution
            id: W92
  multipagepdfa2ianalyzepdf634F2189:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        S3Bucket:
          Fn::Sub: cdk-hnb659fds-assets-${AWS::AccountId}-${AWS::Region}
        S3Key: 552c12f19cba3723f590bf058c1dd700e4288943f4b50e0768adf756880f14e1.zip
      Environment:
        Variables:
          sqs_url:
            Ref: multipagepdfa2ibedrocksqs5A77A74C
          human_workflow_arn: arn:aws:sagemaker:us-east-1:289562521240:flow-definition/brithreviewworkflow
      FunctionName: multipagepdfa2i_analyzepdf
      Handler: lambda_function.lambda_handler
      MemorySize: 3000
      Role:
        Fn::GetAtt:
          - multipagepdfa2ilamroleanalyzepdf7AF514D8
          - Arn
      Runtime: python3.12
      Timeout: 180
    DependsOn:
      - multipagepdfa2ilamroleanalyzepdfDefaultPolicy3270794C
      - multipagepdfa2ilamroleanalyzepdf7AF514D8
    Metadata:
      aws:cdk:path: multipagepdfa2i/multipagepdfa2i_analyzepdf/Resource
      aws:asset:path: asset.552c12f19cba3723f590bf058c1dd700e4288943f4b50e0768adf756880f14e1
      aws:asset:is-bundled: false
      aws:asset:property: Code
      cdk_nag:
        rules_to_suppress:
          - reason: This is created for a POC. Customer will be deploying this for production will be deploying the lambda functions in the  VPC
            id: W89
          - reason: Lambda functions has permission to write CloudWatch Logs
            id: W58
          - reason: This is created for a POC. Customer will be deploying this for production will  define ReservedConcurrentExecutions to reserve simultaneous execution
            id: W92
  multipagepdfa2ianalyzepdfSqsEventSourcemultipagepdfa2imultipagepdfa2ibedrocksqs968CF4C4696137E4:
    Type: AWS::Lambda::EventSourceMapping
    Properties:
      BatchSize: 1
      EventSourceArn:
        Fn::GetAtt:
          - multipagepdfa2ibedrocksqs5A77A74C
          - Arn
      FunctionName:
        Ref: multipagepdfa2ianalyzepdf634F2189
    Metadata:
      aws:cdk:path: multipagepdfa2i/multipagepdfa2i_analyzepdf/SqsEventSource:multipagepdfa2imultipagepdfa2ibedrocksqs968CF4C4/Resource
  multipagepdfa2iinserttodynamodb7337F9FC:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        S3Bucket:
          Fn::Sub: cdk-hnb659fds-assets-${AWS::AccountId}-${AWS::Region}
        S3Key: 01ec30e49ad5a00ec5a02b49197339783d62b5358ed9fa4902de048e6f4ac57e.zip
      Environment:
        Variables:
          ddb_tablename:
            Ref: ddbtableVitalBirthData2312BA27
      FunctionName: multipagepdfa2i_inserttodynamodb
      Handler: lambda_function.lambda_handler
      MemorySize: 3000
      Role:
        Fn::GetAtt:
          - multipagepdfa2ilamroleinserttodynamodb71EFBCBB
          - Arn
      Runtime: python3.12
      Timeout: 180
    DependsOn:
      - multipagepdfa2ilamroleinserttodynamodbDefaultPolicyFECF4A7C
      - multipagepdfa2ilamroleinserttodynamodb71EFBCBB
    Metadata:
      aws:cdk:path: multipagepdfa2i/multipagepdfa2i_inserttodynamodb/Resource
      aws:asset:path: asset.01ec30e49ad5a00ec5a02b49197339783d62b5358ed9fa4902de048e6f4ac57e
      aws:asset:is-bundled: false
      aws:asset:property: Code
      cdk_nag:
        rules_to_suppress:
          - reason: This is created for a POC. Customer will be deploying this for production will be deploying the lambda functions in the  VPC
            id: W89
          - reason: Lambda functions has permission to write CloudWatch Logs
            id: W58
          - reason: This is created for a POC. Customer will be deploying this for production will  define ReservedConcurrentExecutions to reserve simultaneous execution
            id: W92
  multipagepdfa2ihumancomplete182FEA89:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        S3Bucket:
          Fn::Sub: cdk-hnb659fds-assets-${AWS::AccountId}-${AWS::Region}
        S3Key: 9887b6ad5a65d16e1c1a85f485e6c553f61f982ec5a6582cdd8488d9e4cecc25.zip
      FunctionName: multipagepdfa2i_humancomplete
      Handler: lambda_function.lambda_handler
      MemorySize: 3000
      Role:
        Fn::GetAtt:
          - multipagepdfa2ilamrolehumancomplete0FA866AF
          - Arn
      Runtime: python3.12
      Timeout: 900
    DependsOn:
      - multipagepdfa2ilamrolehumancompleteDefaultPolicy0C30B1CB
      - multipagepdfa2ilamrolehumancomplete0FA866AF
    Metadata:
      aws:cdk:path: multipagepdfa2i/multipagepdfa2i_humancomplete/Resource
      aws:asset:path: asset.9887b6ad5a65d16e1c1a85f485e6c553f61f982ec5a6582cdd8488d9e4cecc25
      aws:asset:is-bundled: false
      aws:asset:property: Code
      cdk_nag:
        rules_to_suppress:
          - reason: This is created for a POC. Customer will be deploying this for production will be deploying the lambda functions in the  VPC
            id: W89
          - reason: Lambda functions has permission to write CloudWatch Logs
            id: W58
          - reason: This is created for a POC. Customer will be deploying this for production will  define ReservedConcurrentExecutions to reserve simultaneous execution
            id: W92
  multipagepdfa2iwrapupA9D980CE:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        S3Bucket:
          Fn::Sub: cdk-hnb659fds-assets-${AWS::AccountId}-${AWS::Region}
        S3Key: 7a5572c57ee02daa780f1a053df2369edd547f480852a7ad9fcf228674021daa.zip
      FunctionName: multipagepdfa2i_wrapup
      Handler: lambda_function.lambda_handler
      MemorySize: 3000
      Role:
        Fn::GetAtt:
          - multipagepdfa2ilamrolewrapupC95926A1
          - Arn
      Runtime: python3.12
      Timeout: 900
    DependsOn:
      - multipagepdfa2ilamrolewrapupDefaultPolicy209224FB
      - multipagepdfa2ilamrolewrapupC95926A1
    Metadata:
      aws:cdk:path: multipagepdfa2i/multipagepdfa2i_wrapup/Resource
      aws:asset:path: asset.7a5572c57ee02daa780f1a053df2369edd547f480852a7ad9fcf228674021daa
      aws:asset:is-bundled: false
      aws:asset:property: Code
      cdk_nag:
        rules_to_suppress:
          - reason: This is created for a POC. Customer will be deploying this for production will be deploying the lambda functions in the  VPC
            id: W89
          - reason: Lambda functions has permission to write CloudWatch Logs
            id: W58
          - reason: This is created for a POC. Customer will be deploying this for production will  define ReservedConcurrentExecutions to reserve simultaneous execution
            id: W92
  multipagepdfa2ilamrolesfunctions87B8A42B:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: states.amazonaws.com
        Version: "2012-10-17"
    Metadata:
      aws:cdk:path: multipagepdfa2i/multipagepdfa2i_lam_role_sfunctions/Resource
      cdk_nag:
        rules_to_suppress:
          - reason: This is created for a POC. Customer wwhile deploying this for production will restrict the resource for xray policy
            id: W12
  multipagepdfa2ilamrolesfunctionsDefaultPolicy26DA944A:
    Type: AWS::IAM::Policy
    Properties:
      PolicyDocument:
        Statement:
          - Action: sqs:SendMessage
            Effect: Allow
            Resource:
              Fn::GetAtt:
                - multipagepdfa2ibedrocksqs5A77A74C
                - Arn
          - Action: lambda:InvokeFunction
            Effect: Allow
            Resource:
              - Fn::GetAtt:
                  - multipagepdfa2iimageresize749DCA71
                  - Arn
              - Fn::GetAtt:
                  - multipagepdfa2iinserttodynamodb7337F9FC
                  - Arn
              - Fn::GetAtt:
                  - multipagepdfa2ipngextractDD0BB0CE
                  - Arn
              - Fn::GetAtt:
                  - multipagepdfa2iwrapupA9D980CE
                  - Arn
              - Fn::Join:
                  - ""
                  - - "arn:aws:lambda:"
                    - Ref: AWS::Region
                    - ":"
                    - Ref: AWS::AccountId
                    - :function:multipagepdfa2i_analyzepdf
              - Fn::Join:
                  - ""
                  - - "arn:aws:lambda:"
                    - Ref: AWS::Region
                    - ":"
                    - Ref: AWS::AccountId
                    - :function:multipagepdfa2i_humancomplete
              - Fn::Join:
                  - ""
                  - - "arn:aws:lambda:"
                    - Ref: AWS::Region
                    - ":"
                    - Ref: AWS::AccountId
                    - :function:multipagepdfa2i_imageresize
              - Fn::Join:
                  - ""
                  - - "arn:aws:lambda:"
                    - Ref: AWS::Region
                    - ":"
                    - Ref: AWS::AccountId
                    - :function:multipagepdfa2i_inserttodynamodb
              - Fn::Join:
                  - ""
                  - - "arn:aws:lambda:"
                    - Ref: AWS::Region
                    - ":"
                    - Ref: AWS::AccountId
                    - :function:multipagepdfa2i_kickoff
              - Fn::Join:
                  - ""
                  - - "arn:aws:lambda:"
                    - Ref: AWS::Region
                    - ":"
                    - Ref: AWS::AccountId
                    - :function:multipagepdfa2i_pngextract
              - Fn::Join:
                  - ""
                  - - "arn:aws:lambda:"
                    - Ref: AWS::Region
                    - ":"
                    - Ref: AWS::AccountId
                    - :function:multipagepdfa2i_wrapup
              - Fn::Join:
                  - ""
                  - - Fn::GetAtt:
                        - multipagepdfa2iimageresize749DCA71
                        - Arn
                    - :*
              - Fn::Join:
                  - ""
                  - - Fn::GetAtt:
                        - multipagepdfa2iinserttodynamodb7337F9FC
                        - Arn
                    - :*
              - Fn::Join:
                  - ""
                  - - Fn::GetAtt:
                        - multipagepdfa2ipngextractDD0BB0CE
                        - Arn
                    - :*
              - Fn::Join:
                  - ""
                  - - Fn::GetAtt:
                        - multipagepdfa2iwrapupA9D980CE
                        - Arn
                    - :*
          - Action:
              - logs:CreateLogDelivery
              - logs:DeleteLogDelivery
              - logs:DescribeLogGroups
              - logs:DescribeResourcePolicies
              - logs:GetLogDelivery
              - logs:ListLogDeliveries
              - logs:PutResourcePolicy
              - logs:UpdateLogDelivery
            Effect: Allow
            Resource:
              - "*"
              - Fn::Join:
                  - ""
                  - - "arn:aws:logs:"
                    - Ref: AWS::Region
                    - ":"
                    - Ref: AWS::AccountId
                    - :log-group:/aws/stepfunctions/multipagepdfa2i_sf_sqs:*
          - Action:
              - xray:GetSamplingRules
              - xray:GetSamplingTargets
              - xray:PutTelemetryRecords
              - xray:PutTraceSegments
            Effect: Allow
            Resource: "*"
        Version: "2012-10-17"
      PolicyName: multipagepdfa2ilamrolesfunctionsDefaultPolicy26DA944A
      Roles:
        - Ref: multipagepdfa2ilamrolesfunctions87B8A42B
    Metadata:
      aws:cdk:path: multipagepdfa2i/multipagepdfa2i_lam_role_sfunctions/DefaultPolicy/Resource
  birthcertificatekeyvalues34A35A1C:
    Type: AWS::SSM::Parameter
    Properties:
      Name: /business_rules/required_keys_values
      Type: String
      Value: '["Name_of_applicant", "Day_phone_number", "Address", "City", "State", "Zip_code", "Email_address", "Your_relationship_to_person_named_on_this_certificate", "For_what_purpose_are_you_requesting_this_certificate?", "Signature_of_applicant", "Name_on_birth_certificate_being_requested", "Date_of_birth", "Sex", "City_of_birth", "County_of_birth", "Name_of_mother_parent_prior_to_1st_marriage", "Name_of_father_parent_prior_to_1st_marriage", "Mother_parent_state_or_foreign_country_of_birth", "Father_parent_state_or_foreign_country_of_birth", "Were_parents_married_at_the_time_of_birth?", "Number_of_children_born_to_this_individual", "Required_Search_Fee", "Each_Additional_copy", "Total_fees_submitted"]'
    Metadata:
      aws:cdk:path: multipagepdfa2i/birthcertificatekeyvalues/Resource
  birthcertificatevalidationrequied835AAD12:
    Type: AWS::SSM::Parameter
    Properties:
      Name: /business_rules/validationrequied
      Type: String
      Value: "no"
    Metadata:
      aws:cdk:path: multipagepdfa2i/birthcertificatevalidationrequied/Resource
  multipagepdfa2istepfunctionFBF54DA9:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      DefinitionString:
        Fn::Join:
          - ""
          - - '{"StartAt":"PDF or Image?","States":{"PDF or Image?":{"Type":"Choice","Choices":[{"Variable":"$.extension","StringEquals":"pdf","Next":"PDF. Convert to PNGs"},{"Variable":"$.extension","StringEquals":"png","Next":"Image. Passing."},{"Variable":"$.extension","StringEquals":"jpg","Next":"Image. Passing."}]},"PDF. Convert to PNGs":{"Next":"Image Resize","Retry":[{"ErrorEquals":["Lambda.ClientExecutionTimeoutException","Lambda.ServiceException","Lambda.AWSLambdaException","Lambda.SdkClientException"],"IntervalSeconds":2,"MaxAttempts":6,"BackoffRate":2}],"Type":"Task","ResultPath":"$.image_keys","Resource":"'
            - Fn::GetAtt:
                - multipagepdfa2ipngextractDD0BB0CE
                - Arn
            - '"},"Image Resize":{"Next":"Process_Map","Retry":[{"ErrorEquals":["Lambda.ClientExecutionTimeoutException","Lambda.ServiceException","Lambda.AWSLambdaException","Lambda.SdkClientException"],"IntervalSeconds":2,"MaxAttempts":6,"BackoffRate":2}],"Type":"Task","ResultPath":"$.Input","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::lambda:invoke","Parameters":{"FunctionName":"
            - Fn::GetAtt:
                - multipagepdfa2iimageresize749DCA71
                - Arn
            - '","Payload.$":"$"}},"Image. Passing.":{"Type":"Pass","Result":["single_image"],"ResultPath":"$.image_keys","Next":"Image Resize"},"Process_Map":{"Type":"Map","ResultPath":"$.Input","Next":"Wrapup and Clean","Parameters":{"id.$":"$.id","bucket.$":"$.bucket","key.$":"$.key","wip_key.$":"$$.Map.Item.Value"},"ItemsPath":"$.image_keys","Iterator":{"StartAt":"Perform Bedrock GenAI and A2I","States":{"Perform Bedrock GenAI and A2I":{"End":true,"Type":"Task","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::sqs:sendMessage.waitForTaskToken","Parameters":{"QueueUrl":"
            - Ref: multipagepdfa2ibedrocksqs5A77A74C
            - '","MessageBody":{"token.$":"$$.Task.Token","id.$":"$.id","bucket.$":"$.bucket","key.$":"$.key","wip_key.$":"$.wip_key"}}}}}},"Wrapup and Clean":{"Next":"Insert to dynamodb","Retry":[{"ErrorEquals":["Lambda.ClientExecutionTimeoutException","Lambda.ServiceException","Lambda.AWSLambdaException","Lambda.SdkClientException"],"IntervalSeconds":2,"MaxAttempts":6,"BackoffRate":2}],"Type":"Task","ResultSelector":{"s3path.$":"$.Payload"},"Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::lambda:invoke","Parameters":{"FunctionName":"
            - Fn::GetAtt:
                - multipagepdfa2iwrapupA9D980CE
                - Arn
            - '","Payload.$":"$"}},"Insert to dynamodb":{"End":true,"Retry":[{"ErrorEquals":["Lambda.ClientExecutionTimeoutException","Lambda.ServiceException","Lambda.AWSLambdaException","Lambda.SdkClientException"],"IntervalSeconds":2,"MaxAttempts":6,"BackoffRate":2}],"Type":"Task","ResultPath":"$.Input","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::lambda:invoke","Parameters":{"FunctionName":"
            - Fn::GetAtt:
                - multipagepdfa2iinserttodynamodb7337F9FC
                - Arn
            - '","Payload.$":"$"}}}}'
      LoggingConfiguration:
        Destinations:
          - CloudWatchLogsLogGroup:
              LogGroupArn:
                Fn::GetAtt:
                  - multipagepdfa2istepfunctionlogsB26C70A4
                  - Arn
        Level: ALL
      RoleArn:
        Fn::GetAtt:
          - multipagepdfa2ilamrolesfunctions87B8A42B
          - Arn
      StateMachineName: multipagepdfa2i_stepfunction
      TracingConfiguration:
        Enabled: true
    DependsOn:
      - multipagepdfa2ilamrolesfunctionsDefaultPolicy26DA944A
      - multipagepdfa2ilamrolesfunctions87B8A42B
    UpdateReplacePolicy: Delete
    DeletionPolicy: Delete
    Metadata:
      aws:cdk:path: multipagepdfa2i/multipagepdfa2i_stepfunction/Resource
  multipagepdfa2ikickoff4B6F939D:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        S3Bucket:
          Fn::Sub: cdk-hnb659fds-assets-${AWS::AccountId}-${AWS::Region}
        S3Key: da7fdb79e19b8adc5875f4028e37c81e15f782d21fcab333c94910468f5f38c6.zip
      Environment:
        Variables:
          sqs_url:
            Ref: multipagepdfa2isfsqs6271462A
          state_machine_arn:
            Ref: multipagepdfa2istepfunctionFBF54DA9
      FunctionName: multipagepdfa2i_kickoff
      Handler: lambda_function.lambda_handler
      MemorySize: 3000
      Role:
        Fn::GetAtt:
          - multipagepdfa2ilamrolekickoffFDBDF67D
          - Arn
      Runtime: python3.12
      Timeout: 300
    DependsOn:
      - multipagepdfa2ilamrolekickoffDefaultPolicy614AD7A4
      - multipagepdfa2ilamrolekickoffFDBDF67D
    Metadata:
      aws:cdk:path: multipagepdfa2i/multipagepdfa2i_kickoff/Resource
      aws:asset:path: asset.da7fdb79e19b8adc5875f4028e37c81e15f782d21fcab333c94910468f5f38c6
      aws:asset:is-bundled: false
      aws:asset:property: Code
      cdk_nag:
        rules_to_suppress:
          - reason: This is created for a POC. Customer will be deploying this for production will be deploying the lambda functions in the  VPC
            id: W89
          - reason: Lambda functions has permission to write CloudWatch Logs
            id: W58
          - reason: This is created for a POC. Customer will be deploying this for production will  define ReservedConcurrentExecutions to reserve simultaneous execution
            id: W92
          - reason: This is created for a POC. Customer will be deploying this for production will enable encryption
            id: W48
  multipagepdfa2ikickoffSqsEventSourcemultipagepdfa2imultipagepdfa2isfsqsCEAC74840BF6C968:
    Type: AWS::Lambda::EventSourceMapping
    Properties:
      BatchSize: 1
      EventSourceArn:
        Fn::GetAtt:
          - multipagepdfa2isfsqs6271462A
          - Arn
      FunctionName:
        Ref: multipagepdfa2ikickoff4B6F939D
    Metadata:
      aws:cdk:path: multipagepdfa2i/multipagepdfa2i_kickoff/SqsEventSource:multipagepdfa2imultipagepdfa2isfsqsCEAC7484/Resource
  BucketNotificationsHandler050a0587b7544547bf325f094a3db834RoleB6FB88EC:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
        Version: "2012-10-17"
      ManagedPolicyArns:
        - Fn::Join:
            - ""
            - - "arn:"
              - Ref: AWS::Partition
              - :iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
    Metadata:
      aws:cdk:path: multipagepdfa2i/BucketNotificationsHandler050a0587b7544547bf325f094a3db834/Role/Resource
  BucketNotificationsHandler050a0587b7544547bf325f094a3db834RoleDefaultPolicy2CF63D36:
    Type: AWS::IAM::Policy
    Properties:
      PolicyDocument:
        Statement:
          - Action: s3:PutBucketNotification
            Effect: Allow
            Resource: "*"
        Version: "2012-10-17"
      PolicyName: BucketNotificationsHandler050a0587b7544547bf325f094a3db834RoleDefaultPolicy2CF63D36
      Roles:
        - Ref: BucketNotificationsHandler050a0587b7544547bf325f094a3db834RoleB6FB88EC
    Metadata:
      aws:cdk:path: multipagepdfa2i/BucketNotificationsHandler050a0587b7544547bf325f094a3db834/Role/DefaultPolicy/Resource
  BucketNotificationsHandler050a0587b7544547bf325f094a3db8347ECC3691:
    Type: AWS::Lambda::Function
    Properties:
      Description: AWS CloudFormation handler for "Custom::S3BucketNotifications" resources (@aws-cdk/aws-s3)
      Code:
        ZipFile: |
          import boto3  # type: ignore
          import json
          import logging
          import urllib.request

          s3 = boto3.client("s3")

          EVENTBRIDGE_CONFIGURATION = 'EventBridgeConfiguration'
          CONFIGURATION_TYPES = ["TopicConfigurations", "QueueConfigurations", "LambdaFunctionConfigurations"]

          def handler(event: dict, context):
            response_status = "SUCCESS"
            error_message = ""
            try:
              props = event["ResourceProperties"]
              notification_configuration = props["NotificationConfiguration"]
              managed = props.get('Managed', 'true').lower() == 'true'
              stack_id = event['StackId']
              old = event.get("OldResourceProperties", {}).get("NotificationConfiguration", {})
              if managed:
                config = handle_managed(event["RequestType"], notification_configuration)
              else:
                config = handle_unmanaged(props["BucketName"], stack_id, event["RequestType"], notification_configuration, old)
              s3.put_bucket_notification_configuration(Bucket=props["BucketName"], NotificationConfiguration=config)
            except Exception as e:
              logging.exception("Failed to put bucket notification configuration")
              response_status = "FAILED"
              error_message = f"Error: {str(e)}. "
            finally:
              submit_response(event, context, response_status, error_message)

          def handle_managed(request_type, notification_configuration):
            if request_type == 'Delete':
              return {}
            return notification_configuration

          def handle_unmanaged(bucket, stack_id, request_type, notification_configuration, old):
            def with_id(n):
              n['Id'] = f"{stack_id}-{hash(json.dumps(n, sort_keys=True))}"
              return n

            external_notifications = {}
            existing_notifications = s3.get_bucket_notification_configuration(Bucket=bucket)
            for t in CONFIGURATION_TYPES:
              if request_type == 'Update':
                  ids = [with_id(n) for n in old.get(t, [])]
                  old_incoming_ids = [n['Id'] for n in ids]
                  external_notifications[t] = [n for n in existing_notifications.get(t, []) if not n['Id'] in old_incoming_ids]
              elif request_type == 'Delete':
                  external_notifications[t] = [n for n in existing_notifications.get(t, []) if not n['Id'].startswith(f"{stack_id}-")]
              elif request_type == 'Create':
                  external_notifications[t] = [n for n in existing_notifications.get(t, [])]
            if EVENTBRIDGE_CONFIGURATION in existing_notifications:
              external_notifications[EVENTBRIDGE_CONFIGURATION] = existing_notifications[EVENTBRIDGE_CONFIGURATION]

            if request_type == 'Delete':
              return external_notifications

            notifications = {}
            for t in CONFIGURATION_TYPES:
              external = external_notifications.get(t, [])
              incoming = [with_id(n) for n in notification_configuration.get(t, [])]
              notifications[t] = external + incoming

            if EVENTBRIDGE_CONFIGURATION in notification_configuration:
              notifications[EVENTBRIDGE_CONFIGURATION] = notification_configuration[EVENTBRIDGE_CONFIGURATION]
            elif EVENTBRIDGE_CONFIGURATION in external_notifications:
              notifications[EVENTBRIDGE_CONFIGURATION] = external_notifications[EVENTBRIDGE_CONFIGURATION]

            return notifications

          def submit_response(event: dict, context, response_status: str, error_message: str):
            response_body = json.dumps(
              {
                "Status": response_status,
                "Reason": f"{error_message}See the details in CloudWatch Log Stream: {context.log_stream_name}",
                "PhysicalResourceId": event.get("PhysicalResourceId") or event["LogicalResourceId"],
                "StackId": event["StackId"],
                "RequestId": event["RequestId"],
                "LogicalResourceId": event["LogicalResourceId"],
                "NoEcho": False,
              }
            ).encode("utf-8")
            headers = {"content-type": "", "content-length": str(len(response_body))}
            try:
              req = urllib.request.Request(url=event["ResponseURL"], headers=headers, data=response_body, method="PUT")
              with urllib.request.urlopen(req) as response:
                print(response.read().decode("utf-8"))
              print("Status code: " + response.reason)
            except Exception as e:
                print("send(..) failed executing request.urlopen(..): " + str(e))
      Handler: index.handler
      Role:
        Fn::GetAtt:
          - BucketNotificationsHandler050a0587b7544547bf325f094a3db834RoleB6FB88EC
          - Arn
      Runtime: python3.11
      Timeout: 300
    DependsOn:
      - BucketNotificationsHandler050a0587b7544547bf325f094a3db834RoleDefaultPolicy2CF63D36
      - BucketNotificationsHandler050a0587b7544547bf325f094a3db834RoleB6FB88EC
    Metadata:
      aws:cdk:path: multipagepdfa2i/BucketNotificationsHandler050a0587b7544547bf325f094a3db834/Resource
  multipadepdfa2iHumanReviewComplete9B2C26FE:
    Type: AWS::Events::Rule
    Properties:
      EventPattern:
        detail-type:
          - SageMaker A2I HumanLoop Status Change
        source:
          - aws.sagemaker
      State: ENABLED
      Targets:
        - Arn:
            Fn::GetAtt:
              - multipagepdfa2ihumancomplete182FEA89
              - Arn
          Id: Target0
    Metadata:
      aws:cdk:path: multipagepdfa2i/multipadepdfa2i_HumanReviewComplete/Resource
  multipadepdfa2iHumanReviewCompleteAllowEventRulemultipagepdfa2imultipagepdfa2ihumancomplete790BDFD78C3CA00B:
    Type: AWS::Lambda::Permission
    Properties:
      Action: lambda:InvokeFunction
      FunctionName:
        Fn::GetAtt:
          - multipagepdfa2ihumancomplete182FEA89
          - Arn
      Principal: events.amazonaws.com
      SourceArn:
        Fn::GetAtt:
          - multipadepdfa2iHumanReviewComplete9B2C26FE
          - Arn
    Metadata:
      aws:cdk:path: multipagepdfa2i/multipadepdfa2i_HumanReviewComplete/AllowEventRulemultipagepdfa2imultipagepdfa2ihumancomplete790BDFD7
  CDKMetadata:
    Type: AWS::CDK::Metadata
    Properties:
      Analytics: v2:deflate64:H4sIAAAAAAAA/21RQW7CMBB8C3fjCqgq9VhQW1UiUkqqXtHGWYKbxA5eG4Qs/72yE1IOvXhmdr2jHXvJF49LvpjBheaiauatLLkvLIiGwYX2nlbcr51o0LLNQY1sgDUQBlZdFXS6Krn/grLFeCuRwOhE3H86dKk4kHTmupXiOhUHGVira+J+q+t3o10f2zcemISO+50e/BP+mUzz0JUVcL+FK5pvNCS1Si73+s0pYcfGxF/PqGyhnRGYQd9LVcf2/9UcTScpegVGqz0QoSX+EoGRxf4wmtLeAjUxUFrrQ511g6w4UYGqypAI6vhG9xPcZ9CzHIjY5qilQFZYsJiBOEqVkt/rwIi6+FdGqjoHAx1aNGnFmwgMYwbifufGp3MthpAYUorGJpIyFBbqMelGq0raFDS/2qNWDyv+zBdPsx+Scm6csrJDvhvwFz3OlKdIAgAA
    Metadata:
      aws:cdk:path: multipagepdfa2i/CDKMetadata/Default
    Condition: CDKMetadataAvailable
Conditions:
  CDKMetadataAvailable:
    Fn::Or:
      - Fn::Or:
          - Fn::Equals:
              - Ref: AWS::Region
              - af-south-1
          - Fn::Equals:
              - Ref: AWS::Region
              - ap-east-1
          - Fn::Equals:
              - Ref: AWS::Region
              - ap-northeast-1
          - Fn::Equals:
              - Ref: AWS::Region
              - ap-northeast-2
          - Fn::Equals:
              - Ref: AWS::Region
              - ap-south-1
          - Fn::Equals:
              - Ref: AWS::Region
              - ap-southeast-1
          - Fn::Equals:
              - Ref: AWS::Region
              - ap-southeast-2
          - Fn::Equals:
              - Ref: AWS::Region
              - ca-central-1
          - Fn::Equals:
              - Ref: AWS::Region
              - cn-north-1
          - Fn::Equals:
              - Ref: AWS::Region
              - cn-northwest-1
      - Fn::Or:
          - Fn::Equals:
              - Ref: AWS::Region
              - eu-central-1
          - Fn::Equals:
              - Ref: AWS::Region
              - eu-north-1
          - Fn::Equals:
              - Ref: AWS::Region
              - eu-south-1
          - Fn::Equals:
              - Ref: AWS::Region
              - eu-west-1
          - Fn::Equals:
              - Ref: AWS::Region
              - eu-west-2
          - Fn::Equals:
              - Ref: AWS::Region
              - eu-west-3
          - Fn::Equals:
              - Ref: AWS::Region
              - il-central-1
          - Fn::Equals:
              - Ref: AWS::Region
              - me-central-1
          - Fn::Equals:
              - Ref: AWS::Region
              - me-south-1
          - Fn::Equals:
              - Ref: AWS::Region
              - sa-east-1
      - Fn::Or:
          - Fn::Equals:
              - Ref: AWS::Region
              - us-east-1
          - Fn::Equals:
              - Ref: AWS::Region
              - us-east-2
          - Fn::Equals:
              - Ref: AWS::Region
              - us-west-1
          - Fn::Equals:
              - Ref: AWS::Region
              - us-west-2
Parameters:
  BootstrapVersion:
    Type: AWS::SSM::Parameter::Value<String>
    Default: /cdk-bootstrap/hnb659fds/version
    Description: Version of the CDK Bootstrap resources in this environment, automatically retrieved from SSM Parameter Store. [cdk:skip]
Rules:
  CheckBootstrapVersion:
    Assertions:
      - Assert:
          Fn::Not:
            - Fn::Contains:
                - - "1"
                  - "2"
                  - "3"
                  - "4"
                  - "5"
                - Ref: BootstrapVersion
        AssertDescription: CDK bootstrap stack version 6 required. Please run 'cdk bootstrap' with a recent version of the CDK CLI.

